---
import { getEvent, getPastEvents, getUpcomingEvents } from "@utils/meetup";
import { getYouTubeVideos } from "@utils/youtube";
import { marked } from "marked";
import Layout from "../../../layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import DOMPurify from "dompurify";
import { JSDOM } from "jsdom";

export async function getStaticPaths() {
  const upcomingEvents = await getUpcomingEvents();
  const pastEvents = await getPastEvents();

  const pastPaths = pastEvents.map((event) => ({
    params: { type: "past", event: event.id },
  }));

  const upcomingPaths = upcomingEvents.map((event) => ({
    params: { type: "upcoming", event: event.id },
  }));

  return [...pastPaths, ...upcomingPaths];
}

const { event, type } = Astro.params;
const meetup = await getEvent(event);

const videos = await getYouTubeVideos();
const relatedVideos = videos.filter((video) =>
  video.title.includes(meetup.title.replace("#", ""))
);

const window = new JSDOM("").window;
const purify = DOMPurify(window);
---

<Layout title="Meetup">
  <Container>
    <Sectionhead>
      <Fragment slot="title">{meetup.title}</Fragment>
      <Fragment slot="desc">
        {new Date(meetup.dateTime).toLocaleDateString("en-GB")}</Fragment
      >
    </Sectionhead>

    <section class="flex flex-col gap-4 mx-auto max-w-4xl mt-24">
      <h2 class="font-bold text-5xl text-gray-800">Description</h2>
      <div
        class="text-xl leading-relaxed text-slate-500"
        set:html={purify.sanitize(
          marked.parse(meetup.description.replaceAll("\n", "<br />"))
        )}
      />
      <br />
      <a href={meetup.eventUrl} target="_blank" class="text-blue-500">
        {type === "upcoming" ? "Reserve your spot" : "See the event on meetup"}
      </a>
    </section>

    {
      relatedVideos.length > 0 && (
        <section class="flex flex-col gap-4 mx-auto max-w-4xl mt-24">
          <h2 class="font-bold text-5xl text-gray-800">Recordings</h2>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {relatedVideos.map((video) => (
              <a href={video.link} target="_blank" rel="noopener noreferrer">
                <div class="bg-white p-4 rounded-lg shadow">
                  <img
                    src={video.thumbnail}
                    alt={video.title}
                    class="w-full h-auto mb-2 rounded"
                  />
                  <h3 class="text-lg font-semibold">{video.title}</h3>
                </div>
              </a>
            ))}
          </div>
        </section>
      )
    }
  </Container>
</Layout>
