---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const organizers = await getCollection("team");
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About tim.js</Fragment>
      <Fragment slot="desc">Meetup, Community, NGO</Fragment>
    </Sectionhead>

    <section class="flex flex-col gap-4 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">Overview</h2>
      <p class="text-xl leading-relaxed text-slate-500">
        <strong>tim.js</strong> started in 2013 as a monthly meetup and grew into
        a <strong>full-fledged community</strong>. We are also a registered NGO
        called <a
          class="underline text-blue-500"
          href="/contact#ngo:~:text=Asociația%20TIM.JS">Asociatia TIM.JS</a
        >.
      </p>

      <p class="text-xl leading-relaxed text-slate-500">
        We encourage <strong
          >knowledge sharing through teaching and learning</strong
        >, thus growing the local community of JavaScript professionals as
        developers and speakers as well.
      </p>
    </section>

    <br />

    <section class="mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">Organizing team</h2>

      <div class="grid md:grid-cols-4 gap-10 mx-auto max-w-4xl mt-8">
        {
          organizers
            .sort((a, b) => a.data.sort - b.data.sort)
            .map((teamMemberEntry) => (
              <div class="group">
                <div class="w-full aspect-square">
                  <Picture
                    src={teamMemberEntry.data.avatar.src}
                    alt={teamMemberEntry.data.avatar.alt}
                    sizes="(max-width: 800px) 100vw, 400px"
                    width={400}
                    height={400}
                    class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
                  />
                </div>

                <div class="mt-2 text-center">
                  <h2 class="text-lg font-bold text-yellow-600">
                    {teamMemberEntry.data.name}
                  </h2>
                  <span class="text-sm text-gray-800">
                    {teamMemberEntry.data.title}
                  </span>
                  <span class="text-sm text-slate-500 block">
                    at {teamMemberEntry.data.company}
                  </span>
                </div>
              </div>
            ))
        }
      </div>
    </section>

    <section class="flex flex-col gap-4 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">Core values</h2>

      <div>
        <h3 class="font-semibold text-lg">Technology focused</h3>
        <p class="text-slate-500 leading-relaxed">
          We encourage the understanding of language, tools and patterns rather
          than products and services.
        </p>
      </div>

      <div>
        <h3 class="font-semibold text-lg">Inclusive and diverse</h3>
        <p class="text-slate-500 leading-relaxed">
          We don't discriminate or encourage any specific technology or groups
          of members.
        </p>
      </div>

      <div>
        <h3 class="font-semibold text-lg">Independently managed</h3>
        <p class="text-slate-500 leading-relaxed">
          We are supported and backed up by tech companies, however they do not
          influence our values.
        </p>
      </div>
    </section>

    <section class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">Technologies</h2>

      <p class="text-slate-500 leading-relaxed">
        We address the <strong>entire JavaScript ecosystem</strong>, including
        but not limited to: User Interfaces/Frontend, Node.js/Backend,
        web/mobile/desktop/hardware, standard APIs/ES/DOM, libraries/frameworks
        etc.
      </p>

      <p class="text-slate-500 leading-relaxed">
        We don't specifically focus on HTML or CSS, but since they are closely
        related to UI/Frontend development, they are not out-of-scope.
      </p>

      <p class="text-slate-500 leading-relaxed">
        We don't focus on other languages that compile to JavaScript, such as
        ScalaJS, ClojureScript, Reason, Elm, etc. as it would widen our focus
        too much. Exceptions are JS supersets and type checkers like TypeScript.
      </p>
    </section>
  </Container>
</Layout>
