---
import { getEvent, getPastEvents } from "@utils/meetup";
import { getYouTubeVideos } from "@utils/youtube";
import { marked } from "marked";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const events = await getPastEvents();

  return events.map((event) => ({
    params: { event: event.id },
  }));
}

const { event } = Astro.params;
const meetup = await getEvent(event);

const videos = await getYouTubeVideos();
const relatedVideos = videos.filter((video) =>
  video.title.includes(meetup.title.replace("#", ""))
);
---

<Layout title={`Meetup ${event}`}>
  <header class="bg-gray-100 py-8">
    <div class="container mx-auto px-4">
      <h1 class="text-4xl font-bold text-center">{meetup.title}</h1>
      <p class="text-gray-600" set:html={marked.parse(meetup.description)} />
      <p class="text-gray-600">{meetup.dateTime}</p>
      <a href={meetup.eventUrl} target="_blank" class="text-blue-500">
        {meetup.eventUrl}
      </a>

      <h2 class="text-2xl font-semibold mt-8 mb-4">Related Videos</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {
          relatedVideos.map((video) => (
            <div key={video.id} class="bg-white p-4 rounded-lg shadow">
              <img
                src={video.thumbnail}
                alt={video.title}
                class="w-full h-auto mb-2 rounded"
              />
              <h3 class="text-lg font-semibold">{video.title}</h3>
              <a
                href={video.link}
                target="_blank"
                rel="noopener noreferrer"
                class="text-blue-500 hover:underline">
                Watch on YouTube
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </header>
</Layout>; ---
