---
import { Picture } from "astro:assets";
import Container from "@components/container.astro";
import Layout from "../../layouts/Layout.astro";
import { getPastEvents } from "@utils/meetup";
import { marked } from "marked";
import Sectionhead from "@components/sectionhead.astro";
import default_poster from "@assets/Poster.png";

// Import all images from the meetups directory
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/meetups/*.{jpeg,jpg,png,gif}",
  { eager: true }
);

const events = getPastEvents()
  .reverse()
  .map((event) => {
    const imagePath = event.imageUrl
      ? `/src/assets/meetups/${event.imageUrl}`
      : null;
    const imageModule = imagePath && images[imagePath];

    return {
      ...event,
      imageUrl: imageModule?.default || null,
    };
  });
---

<Layout title="Meetups">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Meetups</Fragment>
      <Fragment slot="desc">All the past meetups</Fragment>
    </Sectionhead>

    <section class="container mx-auto px-4">
      <ul class="mt-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        {
          events.map((event) => (
            <li key={event.id} class="bg-gray-100 shadow-md rounded-lg p-4">
              <a href={`/meetups/past/${event.id}/`} class="block">
                <h2 class="font-bold text-2xl text-gray-800 truncate">
                  {event.title}
                </h2>
                <p class="text-sm text-gray-500">
                  {new Date(event.dateTime).toLocaleDateString()}
                </p>
                <Picture
                  src={event.imageUrl || default_poster}
                  alt={event.title}
                  width={600}
                  height={400}
                  class="w-full h-auto object-cover rounded-lg my-4"
                />
                <div>
                  <h3 class="font-bold text-gray-800">Agenda</h3>
                  <ul class="list-disc list-inside">
                    {event.talks.map((talk, index) => (
                      <li key={index} class="mb-1">
                        {talk}
                      </li>
                    ))}
                  </ul>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </Container>
</Layout>
